<center><%= simple_form_for @tamano, :html => { :class => 'form-horizontal' } do |f| %></center>
  <%= f.input :Sigla %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.Cancelar")),
                tamanos_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>
