<%- model_class = Despacho -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='despacho'>
  <p>Fecha <%= @despacho.fecha %></p>
  <p>Encargado(a) <%= @despacho.encargado %></p>
  <p>Pago <%= @despacho.pagos_id %></p>
</div>

