<br><br><br>
<%- model_class = Despacho -%>
<center>
<br><br><br><br>
<img src="assets/despacho.jpg" height="100" width="100">
<br>
<br>
<hr>
<h1>Despachos</h1>
</center>
<hr>
<br><br><br>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>id</th>
      <th>Fecha</th>
      <th>Encargado</th>
      <th>Pago</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @despachos %>
  </tbody>
  <tfoot>
    <tr>
      
    </tr>
  </tfoot>
</table>
<center><td><%= link_to 'Nuevo despacho', new_despacho_path, :class => 'btn btn-success', :remote => true %></td></center>
