<br>
<br>
<center>
<%- model_class = Producto -%>
<center>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</center>
</div>
</center>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>id</th>
      <th>Codigo</th>
      <th>tamaño_id</th>
      <th>tipo_id</th>
      <th>valor_id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @productos %>
  </tbody>
  <tfoot>
    <tr>
     
    </tr>
  </tfoot>
</table>
 <center><td><%= link_to 'Nuevo Producto', new_producto_path, :class => 'btn btn-success', :remote => true %></td></center>