<%- model_class = Tipodoc -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='tipodoc'>
  <p><%= @tipodoc.id %></p>
  <p><%= @tipodoc.sigla %></p>
</div>
