<%- model_class = Cotizaciondetalle -%>
<div class="page-header">
  <h1>Cotizacion detalle</h1>
</div>

<div class='cotizaciondetalle'>
  <p>Producto <%= @cotizaciondetalle.producto_id %></p>
  <p>Cantidad <%= @cotizaciondetalle.cantidad %></p>
  <p>Subtotal <%= @cotizaciondetalle.subtotal %></p>
</div>
