<br><br><br><br><br><br><br><br>
<hr>
<%- model_class = Cotizaciondetalle -%>
<center>
<div class="page-header">
  <h1>Detalles</h1>
</div>
</center>
<br><br><br><br><br><br><br><br>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>id</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @cotizaciondetalles %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nuevo Detalle', new_cotizacion_cotizaciondetalle_path, :class => 'btn btn-success', :remote => true %></td>
      <td><%= link_to 'Pdf', cotizacion_cotizaciondetalles_path(@cotizacion, :format => :pdf), :class => 'btn btn-inverse' %></td>
      <td><%= link_to 'Atras', cotizaciones_path, :class => 'btn btn-info' %></td>
    </tr>
  </tfoot>
</table>
