/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require lazybox
 */

#lazybox div.cliente { max-width: 500px;}

#lazybox {
   background-image: url('cafe.jpg');
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px #333;
  display: none;
  left: 49%;
  padding: 20px;
  position: absolute;
  top: 49%;
  z-index: 1001;
  &.confirm { max-width: 300px;  }
  .lazy_buttons { margin-top: 15px; text-align: right;  }
  img.lazy_img { display: block; }
  #lazybox_body { position: relative;  }
}
#lazybox_close.img {
  background: url('close.png') no-repeat;
  width: 25px;
  height: 25px;
  top: -17px;
  right: -17px;
}

#lazybox.lazybox {
  padding: 0;
  border: 5px solid #222;
  border-radius: 0;
  @include box-shadow(0 0 50px 10px cyan);
}

#lazybox.player {
  border: none;
  background: #222;
  border-radius: 0;
  @include box-shadow(0 0 50px 10px magenta);
}

#lazybox.confirm {
  border-radius: 0;
  border: 3px solid #222;
  @include box-shadow(0 0 50px 10px magenta);
  @include linear-gradient(gray, #222);
  a#lazybox_close { display: none; }
}

#lazybox.custom {
  @include linear-gradient(#222, #333);
  border: 1px solid #0E0E0E;
  @include box-shadow(0 0 50px 10px magenta);
  a#lazybox_close {
    color: cyan;
    top: -10px;
    right: 10px;
    font: bold 54px/100% Arial, Helvetica, sans-serif;
    &:hover { color: magenta; }
  }
}

#lazybox.top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}


#lazybox.sticker {
 -webkit-border-bottom-left-radius: 20px 500px;
 -webkit-border-bottom-right-radius: 500px 30px;
 -webkit-borblockquote der-top-right-radius: 5px 100px;
 -moz-border-radius-bottomleft: 20px 500px;
 -moz-border-radius-bottomright: 500px 30px;
 -moz-border-radius-topright: 5px 100px;
 border-radius-bottomleft: 20px 500px;
 border-radius-bottomright: 500px 30px;
 border-radius-topright: 5px 100px;
 border-bottom-left-radius: 20px 500px;
 border-bottom-right-radius: 500px 30px;
 border-top-right-radius: 5px 100px;
}blockquote 
div#config {
  margin-top: -30px;
  margin-left: 35%;
  width: 20%;
height: 200px;
background-color: #999494;
}

img#config{
  margin-top: -70px;
  margin-left: 330px;
}

}

      body{
        background-color: red;
        font-family:Arial;
      }

      span.reference{
        background-color: red;
        position:fixed;
        left:10px;
        bottom:10px;
        font-size:12px;
      }
      span.reference a{
        background-color: red;
        color:#aaa;
        text-transform:uppercase;
        text-decoration:none;
        text-shadow:1px 1px 1px #000;
        margin-right:30px;
      }
      span.reference a:hover{
        background-color: red;
        color:#ddd;
      }
      ul.sdt_menu{
        background-color: red;
        margin-top:150px;
      }
      h1.title{
        background-color: red;
        text-indent:-9000px;
        width:633px;
        height:69px;
      }


div#menu{
 color: black;
  background-color: red;
  margin-top: 50px;
  margin-left: 75px;
}

li#des{
  margin-top: -85px;
  margin-left: 1020px;
}

li#home{
  margin-left: -170px;
}

div#con{
  margin-top: 80px;
}

div#sal{
  float: right;
  margin-top: -130px;
}


div#ho{
  margin-top: 100px;
}

h1#ase {
  width: auto;
  color:black;
  font-weight: bold;
  font-size:25px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  padding: 1px 0px 1px 5px;
  border: 4px;

}

footer#footer{
  margin-left: -100px;
  width: 117%;
  margin-top: 75px;
  height: 50px;
  border-radius: 4px;
  background-image: url('cafe.jpg');
}



p#dere{
  padding-left: 30px;
  padding-top: 15px;
  font-size: 15px;
}

blockquote#text{
  margin-top: 80px;
}

img#ase{
  margin-left: 150px;
  width: 200px;
  margin-top: 40px;
}
img#gal{
  margin-left: 900px;
  width: 300px;
  margin-top: -220px;
}
img#ser{
  margin-left: 600px;
  width: 300px;
  margin-top: -255px;
}