
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen"/>
 <meta name="keywords" content="jquery, css3, sliding, box, menu, cube, navigation, portfolio, thumbnails"/>

<div id='menu' class="content">
      <ul id="sdt_menu" class="sdt_menu">
        <li>
          <a href="#">
            <img src="assets/config.png" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
              <span class="sdt_link">Config</span>
              <span class="sdt_descr">config</span>
            </span>
          </a>
           <div class="sdt_box">
              <%= link_to "Tipo de Doc", tipodocs_path %> 
              <%= link_to "Tamaños Madera", tamanos_path %> 
              <%= link_to "Tipos de Madera", tipos_path %> 
              <%= link_to "Estados Entregas", estadoentregas_path %> 
          </div>
        </li>
        <li>
          <a href="productos">
            <img src="assets/madera.jpg" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
              <span class="sdt_link">Productos</span>
              <span class="sdt_descr">Products</span>
            </span>
          </a>
        </li>
        <li>
          <a href="clientes">
            <img src="assets/clientes.jpg" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
              <span class="sdt_link">Clientes</span>
              <span class="sdt_descr">Clients</span>
            </span>
          </a>
        </li>
        <li>
          <a href="cotizaciones">
            <img src="images/4.jpg" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
              <span class="sdt_link">Cotizacion</span>
              <span class="sdt_descr">Quotes</span>
            </span>
          </a>
        </li>
        <li>
          <a href="facturas">
            <img src="images/5.jpg" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
              <span class="sdt_link">Factura</span>
              <span class="sdt_descr">Bill</span>
            </span>
          </a>
        </li>
        <li>
          <a href="pagos">
            <img src="images/6.jpg" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
              <span class="sdt_link">Pagos</span>
              <span class="sdt_descr">Payments</span>
            </span>
          </a>
        </li>
         <li id='des'>
          <a href="despachos">
            <img src="assets/despacho.jpg" alt=""/>
            <span class="sdt_active"></span>
            <span class="sdt_wrap">
              <span class="sdt_link">Despachos</span>
              <span class="sdt_descr">Offices</span>
            </span>
          </a>
        </li>
      </ul>
    </div>